pandas==1.3.5    #  BSD-3 clause license
Pyomo==6.1.2     # Sandia license (like BSD but not exactly) so including in LICENSE file
psutil==5.9.0    #  BSD-3 clause license
PyUtilib==6.0.0  # Sandia license (like BSD but not exactly) so including in LICENSE file
