Click==7.0              #  BSD-3 clause license
Flask==1.1.1            #  BSD-3 clause license
Flask-Cors==3.0.8       # MIT license
itsdangerous==1.1.0     #  BSD-3 clause license
Jinja2==2.10.1          #  BSD-3 clause license
MarkupSafe==1.1.1       #  BSD-3 clause license
PyMySQL==0.9.3          # MIT license
pytz==2019.2            # MIT license
six==1.12.0             # MIT license
SQLAlchemy==1.3.8       # MIT license
Werkzeug==0.16.0        #  BSD-3 clause license
uWSGI==2.0.18           #  GPLv2 (but using linking exception!) - https://github.com/unbit/uwsgi/blob/master/LICENSE
requests==2.25.1        # Apache 2.0